# HackerRank - SQL Medium

1. Generate the following two result sets:


 - Query an alphabetically ordered list of all names in OCCUPATIONS, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: AnActorName(A), ADoctorName(D), AProfessorName(P), and ASingerName(S).


 - Query the number of ocurrences of each occupation in OCCUPATIONS. Sort the occurrences in ascending order, and output them in the following format: 
 `There are a total of [occupation_count] [occupation]s.`
where [occupation_count] is the number of occurrences of an occupation in OCCUPATIONS and [occupation] is the lowercase occupation name. If more than one Occupation has the same [occupation_count], they should be ordered alphabetically.

https://www.hackerrank.com/challenges/the-pads/problem

```
SELECT concat(NAME,concat('(',concat(substr(OCCUPATION,1,1),')'))) FROM OCCUPATIONS ORDER BY NAME ASC;
SELECT concat(concat(concat('There are a total of ', count(OCCUPATION)),' '), concat(lower(occupation),'s.')) FROM OCCUPATIONS GROUP BY OCCUPATION ORDER BY count(OCCUPATION) ASC;
```

2. Pivot the Occupation column in OCCUPATIONS so that each Name is sorted alphabetically and displayed underneath its corresponding Occupation. The output column headers should be Doctor, Professor, Singer, and Actor, respectively.

Note: Print NULL when there are no more names corresponding to an occupation.

# HackerRank - SQL - Easy

1. Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.

https://www.hackerrank.com/challenges/revising-the-select-query/problem

```
SELECT * FROM CITY WHERE COUNTRYCODE = 'USA' AND POPULATION > 100000
```

2. Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA.

https://www.hackerrank.com/challenges/revising-the-select-query-2/problem?h_r=next-challenge&h_v=zen

```
SELECT NAME FROM CITY WHERE COUNTRYCODE = 'USA' AND POPULATION>120000;
```

3. Query all columns for a city in CITY with the ID 1661.

https://www.hackerrank.com/challenges/select-by-id/problem?h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen

```
SELECT * FROM CITY WHERE ID = 1661;
```

4. Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

https://www.hackerrank.com/challenges/weather-observation-station-5/problem

```
SELECT CITY,LENGTH(CITY) AS LEN FROM STATION ORDER BY LEN ASC LIMIT 1;
SELECT CITY,LENGTH(CITY) AS LEN FROM STATION ORDER BY LEN DESC LIMIT 1;
```

```
select city, length(city) from station
order by length(city),city asc
limit 1;
select city, length(city) from station
order by length(city) desc
limit 1;
```

5. Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-6/problem?h_r=next-challenge&h_v=zen

```
SELECT DISTINCT CITY FROM STATION WHERE lower(substr(city,1,1)) in ('a','e','i','o','u');
```

```
SELECT DISTINCT city FROM station WHERE city REGEXP "^[aeiou].*";
```

6. Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-7/problem?h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen

```
SELECT DISTINCT CITY FROM STATION WHERE LOWER(SUBSTR(CITY,LENGTH(CITY),1)) IN ('a','e','i','o','u');
```

OR try regex

7. Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters. Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-8/problem?h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen

```
select distinct city from station 
where left(city,1) in ('a','e','i','o','u') 
and right(city, 1) in ('a','e','i','o','u')
```

OR use REGEX

8. Query the list of CITY names from STATION that do not start with vowels. Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-9/problem

```
SELECT DISTINCT CITY FROM STATION WHERE LOWER(SUBSTR(CITY,1,1)) NOT IN ('a','e','i','o','u');
```

9. Query the Name of any student in STUDENTS who scored higher than 75 Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

https://www.hackerrank.com/challenges/more-than-75-marks/problem

```
SELECT Name FROM STUDENTS WHERE Marks>75 ORDER BY right(Name,3),ID ASC;
```

10. Write a query that prints a list of employee names (i.e.: the name attribute) from the Employee table in alphabetical order.

https://www.hackerrank.com/challenges/name-of-employees/problem?h_r=next-challenge&h_v=zen

```
SELECT Name FROM Employee Order by Name;
```

11. Write a query that prints a list of employee names (i.e.: the name attribute) for employees in Employee having a salary greater than $2000 per month who have been employees for less than 10 months. Sort your result by ascending employee_id.

https://www.hackerrank.com/challenges/salary-of-employees/problem?h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen

```
SELECT name FROM Employee WHERE salary>2000 AND months<10 ORDER BY employee_id;
```

12. Write a query identifying the type of each record in the TRIANGLES table using its three side lengths. Output one of the following statements for each record in the table:

> Equilateral: It's a triangle with 3 sides of equal length.

>Isosceles: It's a triangle with 2 sides of equal length.

>Scalene: It's a triangle with 3 sides of differing lengths.

>Not A Triangle: The given values of A, B, and C don't form a triangle.

https://www.hackerrank.com/challenges/what-type-of-triangle/problem

```
SELECT CASE
            WHEN A+B>C AND B+C>A AND A+C>B THEN
                CASE
                    WHEN A=B=C THEN "Equilateral"
                    WHEN (A=B) OR (B=C) OR (A=C) THEN "Isosceles"
                    ELSE "Scalene"
            ELSE "Not A Triangle"
        END
FROM TRIANGLES;
```