# HackerRank - SQL Medium

1. Generate the following two result sets:


 - Query an alphabetically ordered list of all names in OCCUPATIONS, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: AnActorName(A), ADoctorName(D), AProfessorName(P), and ASingerName(S).


 - Query the number of ocurrences of each occupation in OCCUPATIONS. Sort the occurrences in ascending order, and output them in the following format: 
 `There are a total of [occupation_count] [occupation]s.`
where [occupation_count] is the number of occurrences of an occupation in OCCUPATIONS and [occupation] is the lowercase occupation name. If more than one Occupation has the same [occupation_count], they should be ordered alphabetically.

https://www.hackerrank.com/challenges/the-pads/problem

```
SELECT concat(NAME,concat('(',concat(substr(OCCUPATION,1,1),')'))) FROM OCCUPATIONS ORDER BY NAME ASC;
SELECT concat(concat(concat('There are a total of ', count(OCCUPATION)),' '), concat(lower(occupation),'s.')) FROM OCCUPATIONS GROUP BY OCCUPATION ORDER BY count(OCCUPATION) ASC;
```

2. Pivot the Occupation column in OCCUPATIONS so that each Name is sorted alphabetically and displayed underneath its corresponding Occupation. The output column headers should be Doctor, Professor, Singer, and Actor, respectively.

Note: Print NULL when there are no more names corresponding to an occupation.

# HackerRank - SQL - Easy

1. Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.

https://www.hackerrank.com/challenges/revising-the-select-query/problem

```
SELECT * FROM CITY WHERE COUNTRYCODE = 'USA' AND POPULATION > 100000
```

2. Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA.

https://www.hackerrank.com/challenges/revising-the-select-query-2/problem?h_r=next-challenge&h_v=zen

```
SELECT NAME FROM CITY WHERE COUNTRYCODE = 'USA' AND POPULATION>120000;
```

3. Query all columns for a city in CITY with the ID 1661.

https://www.hackerrank.com/challenges/select-by-id/problem?h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen&h_r=next-challenge&h_v=zen

```
SELECT * FROM CITY WHERE ID = 1661;
```

4. Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

https://www.hackerrank.com/challenges/weather-observation-station-5/problem

```
SELECT CITY,LENGTH(CITY) AS LEN FROM STATION ORDER BY LEN ASC LIMIT 1;
SELECT CITY,LENGTH(CITY) AS LEN FROM STATION ORDER BY LEN DESC LIMIT 1;
```

```
select city, length(city) from station
order by length(city),city asc
limit 1;
select city, length(city) from station
order by length(city) desc
limit 1;
```

5. Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

https://www.hackerrank.com/challenges/weather-observation-station-6/problem?h_r=next-challenge&h_v=zen

```
SELECT DISTINCT CITY FROM STATION WHERE lower(substr(city,1,1)) in ('a','e','i','o','u');
```

```